@model Swappler.Models.SwapItem

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";

    ViewBag.Title = "CreateSwapRequest";
}

<h2>CreateSwapRequest</h2>

<div class="col-lg15">

    <div class="swap-item row" data-id="@Model.Guid">
        @* Item Icon *@
        <div class="col-lg-4 icon-wrapper">
            <img class="swap-item-icon img-thumbnail" src="@Model.PhotoUrl">
        </div>
        @* Item Name and Creator*@
        <div class="col-lg-8">
            <div class="swap-item-name">@Model.Name</div>
            <div class="swap-item-owner">Published by @Model.User.Name @Model.User.LastName</div>
            <div class="swap-item-creation-date">@Model.Date</div>
            <div class="swap-item-description">
                @Model.Description
            </div>
        </div>
    </div>

    <div class="col-lg2">
        <p>Money offered: </p>
        <input id="moneyAmount" type="number" />
    </div>

    <div class="col-lg15">
        <p>My items</p>
    </div>

</div>