@using Swappler.Utilities
@using Swappler.Models

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@{
    var signedUser = SessionHelper.SignedUser;
}

@model User

<div class="container-fluid">

    <form id="form-edit-profile">
        @Html.AntiForgeryToken()

        <input type="hidden" name="UserId" value="@Model.UserId"/>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

            <div id="edit-user-photo-wrapper">
                @* Photo *@
                <img id="edit-user-photo"
                     src="@Model.PhotoUrl"
                     alt=""
                     class="" />

                <div id="upload">
                    <input id="edit-user-photo-input" name="Photo"
                           class="hidden" accept="image/*" type="file" />

                    <button id="btn-edit-user-change-photo"
                            class="btn btn-block btn-default" type="button">
                        Change Photo
                    </button>
                </div>

            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 left-hr-stripe">

            <h2 style="padding: 15px 0;">Edit Profile</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="edit-user-first-name">
                            First name:
                        </label>
                        <input id="edit-user-first-name" type="text" name="FirstName"
                               class="form-control input-lg" placeholder="@Model.Name" tabindex="1">
                        <label class="control-label status-message" for="edit-user-first-name"></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="edit-user-last-name">
                            Last name:
                        </label>
                        <input id="edit-user-last-name" type="text" name="LastName"
                               class="form-control input-lg" placeholder="@Model.LastName" tabindex="2">
                        <label class="control-label status-message" for="edit-user-last-name"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="form-label" for="edit-user-username">
                            Username:
                        </label>
                        <input id="edit-user-username" type="text" name="Username"
                               class="form-control input-lg" placeholder="@Model.Username" tabindex="3">
                        <label class="control-label status-message" for="edit-user-username"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="form-label" for="edit-user-email">
                            Email address:
                        </label>
                        <input id="edit-user-email" type="email" name="Email"
                               class="form-control input-lg" placeholder="@Model.Email" tabindex="4">
                        <label class="control-label status-message" for="edit-user-email"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input id="edit-user-current-password" type="password" name="CurrentPassword"
                               class="form-control input-lg" placeholder="Current Password" tabindex="4">
                        <label class="control-label status-message" for="edit-user-current-password"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input id="edit-user-new-password" type="password" name="NewPassword"
                               class="form-control input-lg" placeholder="New Password" tabindex="5">
                        <label class="control-label status-message" for="edit-user-new-password"></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input id="edit-user-password-confirmation" type="password" name="PasswordConfirmation"
                               class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
                        <label class="control-label status-message" for="edit-user-password-confirmation"></label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-6">
                    <div class="control-label save-changes-status alert" role="alert"></div>
                </div>

                <div class="col-xs-6">
                    <button id="btn-edit-user-save-changes" type="button"
                            class="btn tf-btn btn-default has-spinner">
                        <span class="spinner"><i class="fa fa-spin fa-refresh"></i></span>
                        <b>Save Changes</b>
                    </button>
                </div>

            </div>
        </div>

    </form>

</div>


