@using Swappler.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title
        @(ViewBag.Title != null ? " - " : "")
        Swappler
    </title>

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/swappler")
    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/bundles/babel")
    @Scripts.Render("~/bundles/swappler.jsx")
    @Scripts.Render("~/bundles/signalr")

    @RenderSection("HeadScripts", required: false)
  
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Swapper</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left" role="search" id="search-form">
                    <div class="form-group">
                        <input id="area-input-search" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button id="btn-search-submit" type="button" class="btn btn-default">Submit</button>
                    <script src="~/Public/Scripts/swappler.search.js">
                    </script>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home/Index">
                            <i class="fa fa-home fa-fw"></i>
                            Feed
                        </a>
                    </li>
                    <li>
                        <a href="/SwapItem/Publish">
                            <i class="fa fa-share fa-fw text-primary"></i>
                            <span><b>Publish Swap Item</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="/User/@SessionHelper.SignedUser.Username/Profile">
                            <i class="fa fa-user fa-fw "></i>
                            @{ var signedUser = SessionHelper.SignedUser; }
                            <span id="master-user-profile">@signedUser.Name</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/User/EditProfile">
                                    <i class="fa fa-user"></i>
                                    &nbsp;Edit Profile
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-cog"></i>
                                    &nbsp;Settings
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>

                            <li>
                                <a href="/Logout">
                                    <i class="fa fa-power-off"></i>
                                    &nbsp; Logout
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @RenderSection("BottomScripts", required: false)
    @Html.ReactInitJavaScript()
</body>
</html>
