@using Swappler.Utilities
@using Swappler.Models

@model List<SwapItem>

@foreach (var swapItem in Model)
{
    <div class="feed-swap-item row" data-id="@swapItem.Guid">
        @* Item Icon *@
        <div class="col-lg-4">
            <div class="icon-wrapper">
                <a href="@swapItem.PhotoUrl" target="_blank">
                    <img class="icon" src="@swapItem.PhotoUrl">
                </a>
            </div>
        </div>
        
        @* Item Name and Creator *@
        <div class="col-lg-8 content-wrapper" >
           <div class="name">
                @swapItem.Name
            </div>
            <div class="owner">
                Published by @swapItem.User.Name @swapItem.User.LastName
            </div>
            <div class="creation-date">
                @swapItem.Date.ToSmartDate()
            </div>
            <div class="description">
                @swapItem.Description
            </div>
            <button class="btn-swap-request">
                <img src="~/Public/Images/swap-icon.png" />
                <span class="text">Create swap request</span>
            </button>
        </div>
    </div>
}